.quantity {
  display: flex;
  background-color: #505050;
  border-radius: 5px;
  padding-right: 0 !important;
  margin-right: 10px;
  height: 47px;
}

#quantityBtn {
  padding-left: 0px;
  padding-right: 0px;
  width: 32px;
  height: auto;
}

#quantityBtnDecrement {
  padding-left: 0px;
  padding-right: 0px;
  width: 32px;
  height: auto;
}

.quantityNumber {
  color: #fff;
  align-self: center;
}

#btnAddToCart:hover {
  background-color: #505050;
  color: #fff;
}

.read-or-hide {
  color: #0d6efd;
  cursor: pointer;
}
