.modal-dialog {
  justify-content: center;
}

.modal-content {
  background-color: transparent;
  border: none;
  width: 100%;
}
.modal-fullscreen {
  width: 100%;
}

.modal-header {
  border: none;
}

.search-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.pe-7s-search {
  font-size: 23px;
  vertical-align: middle;
}

.modal-search {
  justify-content: initial;
  height: auto;
  margin-top: 25px;
}

.productSearch img {
  width: 100%;
}

.productSearch p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
