.testimonial-bg1{
    background-image: url('../../../public/testimonial/bgTestimonial.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial-item-style {
    width: 360px;
    margin-right: 30px;
}

