.btn-collection {
  background: #abd373;
  border-color: #abd373;
  color: #ffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
}

.btn-collection:hover {
  background-color: #74b816 !important;
  border-color: #74b816 !important;
  color: #ffff !important;
}

.btn-custom-size {
  width: 160px;
  height: 47px;
  line-height: 47px;
  text-transform: uppercase;
  overflow: hidden;
}
